{% extends 'base.html.twig' %}

{% block body %}
    <h1>Postulantes</h1>
    
    <table class="table table-striped">
        <thead>
            <tr>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for user_array in users_array %}
            {% set user = user_array[0] %}
            <tr>
                <td>
                    <div>
                        <div style="display: inline-block;">
                            <h3 style="display: inline-block;"><span class="glyphicon glyphicon glyphicon-{{user.profile.icon}}" aria-hidden="true"></span> {{ user.name }} {{ user.lastname }}</h3>
                        </div>
                        <p>{{ user.profile.name }}</p>
                        <br>
                        <p>{{ user.brief }}</p>
                        <div class="progress">
                          <div class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: {{user_array[1]}}%">
                            <span class="sr-only"></span>
                          </div>
                        </div>
                        <a href="{{path('invite',{id: user.id})}}" class="btn btn-success btn-sm" role="button">Invitar a mi grupo</a>
                        <a href="{{path('chat',{id: user.id})}}" target="_blank" class="btn btn-primary btn-sm" role="button">Enviar Mensaje</a>
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
