{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ user.getFullName }}</h1>

    <table class="table">
        <tbody>
            {% if app.user.id == user.id or is_granted(['ROLE_ADMIN'])%}
                <tr>
                    <th>Rut</th>
                    <td>{{ user.rut }}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>{{ user.email }}</td>
                </tr>
            {% endif %}
            <tr>
                <th>Resumen Personal</th>
                <td>{{ user.brief }}</td>
            </tr>
            <tr>
                <th>Áreas de interés</th>
                <td>
                    {% for interest in user.interests %}
                        <button style="margin-bottom:2px;" type="button" class="btn btn-default btn-xs">{{interest.name}}</button>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Perfil</th>
                <td><span class="glyphicon glyphicon-{{user.profile.icon}}" aria-hidden="true"></span> {{ user.profile.name }}</td>
            </tr>
            {% if user.hasTeam %}
                <tr>
                    <th>Equipo</th>
                    <td><a href="{{ path('team_show', { 'id': user.team.id }) }}" role="button">{{user.team.name}}</a></td>
                </tr>
            {% endif %}
            {% if is_granted(['ROLE_ADMIN']) %}
                <tr>
                    <th>Isactive</th>
                    <td>{% if user.isActive %}Yes{% else %}No{% endif %}</td>
                </tr>
            {% endif %}

        </tbody>
    </table>

    {% if app.user.id == user.id or is_granted(['ROLE_ADMIN'])%}
        <a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>
    {% else %}
        <a href="{{ path('chat', { 'id': user.id }) }}" class="btn btn-primary btn2" role="button">Enviar Mensaje</a>
    {% endif %}

{% endblock %}
