{% extends 'base.html.twig' %}

{% block body %}
    <h1>Chat con {{ user.getFullName() }}</h1>

    <table class="table">
        <tbody>
        {% for message in messages %}
            <tr>
                {% if message.sender.id == app.user.id%}
                <div class="msg">
                    <div class="msg-content-me">
                        <div class="msg-text">
                            {{ message.msg }}
                        </div>
                        <div class="msg-time">
                            {% if message.sendedTimestamp %}{{ message.sendedTimestamp|date('Y-m-d H:i:s') }}{% endif %}{% if message.readedTimestamp %} - {{ message.readedTimestamp|date('Y-m-d H:i:s') }}{% endif %}
                        </div>
                    </div>
                    <div class="msg-me"><span class="me">{{ message.sender.getInitials() }}</span></div>
                </div>
                {% else %}
                <div class="msg">
                    <div class="msg-me"><span class="you">{{ message.sender.getInitials() }}</span></div>
                    <div class="msg-content-you">
                        <div class="msg-text">
                            {{ message.msg }}
                        </div>
                        <div class="msg-time">
                            {% if message.sendedTimestamp %}{{ message.sendedTimestamp|date('Y-m-d H:i:s') }}{% endif %}{% if message.readedTimestamp %} - {{ message.readedTimestamp|date('Y-m-d H:i:s') }}{% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
            <br>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" style="float:right" class="btn btn-success btn-sm" role="button" value="Enviar"/>
    {{ form_end(form) }}

{% endblock %}
