{% extends 'base.html.twig' %}

{% block body %}
    <h1>Miembros del Equipo</h1>

    <div class="panel panel-default">
        <div class="panel-heading">Miembros Actuales</div>
        <div class="panel-body">  
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Rut</th>
                        <th>Email</th>
                        <th>Brief</th>
                        <th>Perfil</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                {% for user in team.users %}
                    <tr>
                        <td>{{ user.name }}</td>
                        <td>{{ user.lastname }}</td>
                        <td>{{ user.rut }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.brief }}</td>
                        {% if user.profile is empty %}
                            <td>no definido</td>
                        {% else %}
                            <td>{{ user.profile.name }}</td>
                        {% endif %}
                        <td>
                            <td><a href="{{ path('user_show', { 'id': user.id }) }}" class="btn btn-info btn-sm" role="button">Ver</a></td>
                            {% if is_granted('ROLE_ADMIN') %}
                                <td><a href="{{ path('user_edit', { 'id': user.id }) }}" class="btn btn-primary btn-sm" role="button">Editar</a></td>
                            {% endif %}
                            <td><a href="{{ path('team_eliminate_user', { 'tid': team.id, 'uid': user.id }) }}" data-toggle="tooltip" data-placement="top" title="Esto eliminará al miembro de su equipo y se le enviará una notificación, es irreversible." class="btn btn-danger btn-sm" role="button">Eliminar</a></td>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    {% if show_new %}
        <div class="panel panel-default">
            <div class="panel-heading">Inscribir Nuevo Postulante</div>
            <div class="panel-body">  
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <input type="submit" class="btn btn1 btn-success" data-toggle="tooltip" data-placement="top" title="El usuario deberá loguearse e ingresar su información personal para hacer válida su válida" value="Inscribir" />
                {{ form_end(form) }}

            </div>
        </div>
    {% endif %} 

    {% if is_granted('ROLE_ADMIN') %}
        <a href="{{ path('team_index') }}" class="btn btn-info btn2" role="button" >Equipos</a>
    {% endif %}

    <script type="text/javascript">

window.onload = function() {

    $('[data-toggle="tooltip"]').tooltip(); 

    $(".js-basic-single-profile").select2({
        allowClear: false,
        width: '100%'
    })

};

function isValid()
{

    var emailValid = verifyEmail();
    if(!emailValid)
    { 
        alert("email no valido");
        document.getElementById("teamupbundle_user_email").focus();
    }

    if(emailValid)
    {
        return true;
    }
    else
    {
        return false;
    }
}

function verifyEmail()
{
    var email = document.getElementById("teamupbundle_user_email").value;

    var re = /^(([a-z]+([a-z0-9.]+)*))@(([a-z]+([a-z0-9.]+)*).([a-z]*))$/;
    return re.test(email);
}
</script>
{% endblock %}