{% extends 'base.html.twig' %}

{% block body %}
    <h1>Equipo</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ team.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ team.name }}</td>
            </tr>
            <tr>
                <th>Estado</th>
                <td>{{ team.statustext }}</td>
            </tr>
            <tr>
                <th>Fecha de Creación</th>
                <td>{% if team.created %}{{ team.created|date('d-m-Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Usuarios</th>
                <td>
                    <ul>
                        {% for user in team.users %}
                            <li>{{user.getFullName}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    {% if  is_granted('ROLE_ADMIN')%}
        <a href="{{ path('team_index') }}" class="btn btn-info btn1" role="button" >Equipos</a>
    {% endif %}
    <a href="{{ path('team_edit', { 'id': team.id }) }}" class="btn btn-primary btn2" role="button">Editar</a>

    <a href="{{ path('team_edit', { 'id': team.id }) }}" class="btn btn-success btn2" role="button">Postular</a>
    {% if  is_granted('ROLE_ADMIN')%}
        <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
    {% endif %}

{% endblock %}
