{% extends 'base.html.twig' %}

{% block body %}
    <h1>{{ team.name }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Estado</th>
                <td>{{ team.statustext }}</td>
            </tr>
            <tr>
                <th>Fecha de Creación</th>
                <td>{% if team.created %}{{ team.created|date('d-m-Y H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Areas de Interés en el equipo</th>
                <td>
                    {% for interest in team.getInterestsArray %}
                        <button style="margin-bottom:2px;" type="button" class="btn btn-default btn-xs">{{interest}}</button>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th>Usuarios</th>
                <td>
                    <ul>
                        {% for user in team.users %}
                            <li><a href="{{ path('user_show', { 'id': user.id }) }}"><span class="glyphicon glyphicon-{{user.profile.icon}}" aria-hidden="true"></span> {{user.getFullName}}</a></li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        </tbody>
    </table>

    {% if  is_granted('ROLE_ADMIN')%}
        <a href="{{ path('team_index') }}" class="btn btn-info btn1" role="button" >Equipos</a>
    {% endif %}
    {% if  team.status == 1 and team.id == app.user.team.id %}
        <a href="{{ path('team_edit', { 'id': team.id }) }}" class="btn btn-primary btn2" role="button">Editar Equipo</a>
        <a href="{{ path('team_users_edit', { 'id': team.id }) }}" class="btn btn-primary btn2" role="button" >Editar/Inscribir Miembros del Equipo</a>
        <a href="{{ path('apply_team', { 'id': team.id }) }}" class="btn btn-success btn2" role="button">Postular</a>
    {% endif %}
    {% if  is_granted('ROLE_ADMIN')%}
        <input type="submit" value="Eliminar" class="btn btn-danger btn2" role="button">
    {% endif %}
    <br>
    <br>
    <br>
    <br>
    {% if  team.status == 1 and team.id == app.user.team.id %}
        <div class="panel panel-info">
            <div class="panel-heading">
                Recuerda que para postular, tu equipo debe tener:
            </div>
            <div class="panel-body">
                <ul>
                    <li>al menos dos miembros</li>
                    <li>a lo más cinco miembros</li>
                    <li>todos los miembros deben haberse logueado al menos una vez en la plataforma</li>
                </ul>
            </div>
        </div>
    {% endif %}

{% endblock %}
